/* header styles */
.header-box {
    max-width: 2000px;
    width: 100%;
    height: 324px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    position: relative;
    background-image: url('../images/image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/* .small-nav {
    width: 200px;
    height: 20px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
} */
.home {
    display: inline-block;
    color: #FFFFFF;
    vertical-align: middle;
}
.about {
    display:inline-block;
    color: #FFFFFF;
}

.nav-ul {
    width: 500px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    text-transform: capitalize;
}
.aboutus {
    margin-top: 95px;
    margin-bottom: 14px;
    font-size: 42px;
    color: #FFFFFF;
}
.title {
    color: #FFFFFF;
}
.headertext-box {
    margin-top: 30px;
    z-index: 2;
}
.nav-box {
    margin-top: 30px;
    z-index: 2;
}
.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 60%;
    z-index: 1;
}
.home::after {
    content: ' ';
    width: 1px;
    height: 19px;
    display: inline-block;
    background-color: #FFFFFF;
    margin-left: 15px;
    margin-right: 15px;
    vertical-align: middle;
}
.rooms::after {
    content: url(../images/line.svg);
    margin-left: 8px;
}
.burger-box {
    display: none;
    color: #FFFFFF;
    font-size: 30px;
    z-index: 2;
}


/* section styles */
.section-box {
    margin: 0 auto;
    max-width: 1632px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.title1 {
    color: #5863F8;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
}
.title2 {
    color: #000000;
    font-size: 42px;
    max-width: 374px;
    width: 100%;
    height: 115px;
    font-family: 'Roboto', sans-serif;
}
.text1 {
    color: #000000;
    font-size: 16px;
    max-width: 444px;
    width: 100%;
    height: 78px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.text2 {
    color: #000000;
    font-size: 14px;
    max-width: 444px;
    width: 100%;
    height: 84px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}
.text3 {
    color: #FFFFFF;
    font-size: 14px;
    width: 74px;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-box {
    max-width: 444px;
    width: 100%;
    height: 388px;
}
.readmore-box {
    background-color: #5863F8;
    width: 184px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-box {
    max-width: 536px;
    width: 100%;
    height: 461px;
}
.image3-bg {
    display: none;
    height: auto;
}
.image2-bg {
    display: none;
}
.image1-bg {
    display: none;
}
.image1 {
    margin-right: 12px;
}
/* footer styles */
.footer-box {
    max-width: 2000px;
    width: 100%;   
    height: 612px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 91px auto 0 auto;
    background-image: url('../images/footerimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.content-box {
    max-width: 1323px;
    width: 100%;
    height: 433px;
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}
.blocks-box {
    max-width: 1323px;
    width: 100%;
    height: 260px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.footertext-box {
    max-width: 379px;
    width: 100%;
    height: 136px;
}
.circle-box {
    width: 59px;
    height: 58px;
    background-color: #5863F8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block {
    width: 260px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.text {
    width: 221px;
    height: auto;
    color: #B1B1B1;
    font-size: 14px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
h5 {
    width: 180px;
    height: auto;
    color: #000000;
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.title3 {
    color: #FFFFFF;
    font-size: 42px;
    max-width: 376px;
    width: 100%;
    height: 115px;
    font-family: 'Roboto', sans-serif;
}
.footerbg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 40%;
    z-index: 1;
}